<app-header></app-header>
<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white bg-primary"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="../../assets/profile.png"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5>{{profile.userName}}</h5>
              <p>{{profile.userStatus}}</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{profile.userEmail}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Rôle</h6>
                    <p class="text-muted">{{profile.userRole}}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Certificat</h6>
                    <p class="text-muted">{{profile.userCertificat?.certificatIntittule}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Résultat</h6>
                    <p *ngIf="profile.userCertificat?.certifcatIsvalided" class="text-muted">Validé</p>
                    <p *ngIf="!profile.userCertificat?.certifcatIsvalided" class="text-muted">Pas encore Validé</p>
                  </div>
                </div>
                <h6>Paramètres</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <a  routerLink="/profile/editer" routerLinkActive="router-link-active" >Editer profile</a>
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
