
<div class="container" *ngFor="let certificat of listofcertificat;">
  <div class="row m-2">
    <div class="card">
      <img class="col-4 col-sm-2 offset-md-2" src="../../../assets/certificat-illustration.jpg" alt="certificat">
      <div class="">
        <h5 class="text-center">{{certificat.certificatIntittule}}</h5>
        <p class="text-center">{{certificat.certificatText}}</p>
          <button (click)="inscription(certificat.certificatId)" class="col-4 col-sm-2 offset-md-2 text-center btn btn-primary">S'inscrire</button>
      </div>
      <div class="text-center">
        <small class="m-2">{{certificat.certificatDate}}</small>
      </div>
    </div>
  </div>
</div>
